<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.green2209S_18.dao.AdminDAO">
	
	<select id="getcategoryCodeCheck" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from categoryStore where categoryStoreCode = #{categoryStoreCode};
	</select>
	
	<select id="getcategoryCodeCheck2" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from categoryStore where storePart = #{storePart};
	</select>

	<select id="getCategoryList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store where storePart = #{vo.storePart};
	</select>

	<select id="getStoreBrandList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminStoreBrand;
	</select>

	<select id="getBrandNameCheck" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminStoreBrand where storePart = #{storePart} and brandName = #{brandName};
	</select>

	<select id="getstoreBrand" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminStoreBrand where brandName = #{brandName};
	</select>

	<select id="getstoreTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminStoreTag where brandName = #{brandName};
	</select>

	<select id="getFoodTagCheck" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminStoreTag where brandName = #{brandName} <if test="foodTag != ''"> and foodTag = #{foodTag} </if> ;
	</select>

	<select id="getCheckTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminFoodMenu where brandName = #{brandName} and foodTag = #{foodTag};
	</select>

	<select id="getFoodNameCheck" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminFoodMenu where brandName = #{brandName} and foodName = #{foodName};
	</select>

	<select id="getCheckAdminSubMenu" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from adminFoodSubMenu where foodName = #{foodName};
	</select>

	<select id="getChecksubTagList" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from adminFoodSubMenu where foodTag = #{foodTag} and brandName = #{brandName};
	</select>

	<select id="getstoreMenuList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminfoodmenu where brandName = #{brandName};
	</select>

	<select id="getMemberList" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where userDel = 'NO'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="getRiderList" resultType="com.spring.green2209S_18.vo.RiderVO">
		select * from rider where deleteRequest = 'NO'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="getStoreList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store where storeDel = 'NO'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="getStoreDeleteList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store where storeDel = 'OK'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="getRiderDeleteList" resultType="com.spring.green2209S_18.vo.RiderVO">
		select * from rider where deleteRequest = 'OK'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="getDeleteMemberList" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where userDel = 'OK'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getBanMemberList" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where userBan = 'OK'  <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getRatingList" resultType="com.spring.green2209S_18.vo.RatingVO">
		select * from rating <if test="search != ''"> where ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getRatingReplyList" resultType="com.spring.green2209S_18.vo.ratingReplyVO">
		select * from ratingreply <if test="search != ''"> where ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getRatingReportList" resultType="com.spring.green2209S_18.vo.RatingVO">
		select * from rating where reportRating != 0 <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>
	
	<select id="getReplyReportList" resultType="com.spring.green2209S_18.vo.ratingReplyVO">
		select * from ratingreply where reportCnt != 0 <if test="search != ''"> and ${search} like concat('%',#{searchString},'%') </if> order by ${order} desc limit #{startIndexNo}, #{pageSize};
	</select>

	<select id="totMemberListCnt" resultType="int">
		select count(*) from member where userDel = 'NO' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totAdminRiderListCnt" resultType="int">
		select count(*) from rider where deleteRequest = 'NO' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>
	
	<select id="totMemberBanListCnt" resultType="int">
		select count(*) from member where userBan = 'OK' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totMemberDeleteListCnt" resultType="int">
		select count(*) from member where userDel = 'OK' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totRiderDeleteListCnt" resultType="int">
		select count(*) from rider where deleteRequest = 'OK' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totAdminStoreListCnt" resultType="int">
		select count(*) from store where storeDel = 'NO' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totStoreDeleteListCnt" resultType="int">
		select count(*) from store where storeDel = 'OK' <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totRatingListCnt" resultType="int">
		select count(*) from rating <if test="search != ''"> where ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totRatingReportListCnt" resultType="int">
		select count(*) from rating where reportRating != 0 <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totRatingReplyListCnt" resultType="int">
		select count(*) from ratingreply <if test="search != ''"> where ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="totRatingReplyReportListCnt" resultType="int">
		select count(*) from ratingreply where reportCnt != 0 <if test="search != ''"> and ${search} like concat('%',#{searchString},'%')</if>;
	</select>

	<select id="getToTMember" resultType="int">
		select count(*) from member;
	</select>

	<select id="getToTStore" resultType="int">
		select count(*) from store;
	</select>

	<select id="getTotRider" resultType="int">
		select count(*) from rider;
	</select>

	<select id="getToTOrder" resultType="int">
		select count(*) from foodorder;
	</select>

	<select id="getThisMonthStore" resultType="com.spring.green2209S_18.vo.CartVO">
		select r.storeName, r.orderDate, (select count(*) from foodorder r where s.storeName = r.storeName) as orderCnt,
		(select sum(r.orderTotalPrice) from foodorder r where s.storeName = r.storeName) as totalProfit
		from foodorder r, store s
		where  r.storeName = s.storeName and substring(r.orderDate,1,7)=#{thisMonth} group by r.storeName order by orderCnt desc limit 5;
	</select>

	<select id="getThisMonthMember" resultType="com.spring.green2209S_18.vo.CartVO">
		select (select m.memberNickName from member m where m.mid = r.mid) as nickName, r.orderDate, (select count(*) from foodorder r where m.mid = r.mid) as orderCnt,
		(select sum(r.orderTotalPrice) from foodorder r where m.mid = r.mid) as totalProfit
		from foodorder r, member m
		where  m.mid = r.mid and substring(r.orderDate,1,7)=#{thisMonth} group by r.mid order by orderCnt desc limit 5;
	</select>

	<select id="getThisMonthRider" resultType="com.spring.green2209S_18.vo.CartVO">
		select (select m.riderName from rider m where m.riderMid = r.rider) as rider, r.orderDate, (select count(*) from foodorder r where m.riderMid = r.rider) as orderCnt,
		(select sum(r.orderTotalPrice) from foodorder r where m.riderMid = r.rider) as totalProfit
		from foodorder r, rider m
		where  m.riderMid = r.rider and substring(r.orderDate,1,7)=#{thisMonth} group by r.rider order by orderCnt desc limit 5;
	</select>



	<insert id="setCategoryInput">
		insert into categoryStore values (#{vo.categoryStoreCode}, #{vo.storePart}, #{vo.categoryPhoto});
	</insert>

	<insert id="setStoreBrandInputOk">
		insert into adminStoreBrand values (default, #{vo.storePart}, #{vo.brandName});
	</insert>

	<insert id="storeTagInputOk">
		insert into adminStoreTag values (default, #{vo.brandName}, #{vo.foodTag});
	</insert>

	<insert id="setFoodInput">
		insert into adminFoodMenu values (default, #{vo.brandName}, #{vo.foodName}, #{vo.foodTag}, #{vo.price}, default, default, default, default, #{vo.foodPhoto}, #{vo.subMenu}, #{vo.foodInfo});
	</insert>

	
	
	<update id="setCategoryUpdate">
		update categoryStore set categoryStoreCode = #{vo.categoryStoreCode}, storePart = #{vo.storePart}, categoryPhoto = #{vo.categoryPhoto} where categoryStoreCode = #{pastCode};
	</update>

	<update id="StoreBrandUpdateOk">
		update adminStoreBrand set storePart = #{vo.storePart}, brandName = #{vo.brandName} where idx = #{vo.idx};
		update adminStoreTag set brandName = #{vo.brandName} where brandName = #{oldBrandName};
		update adminFoodMenu set brandName = #{vo.brandName} where brandName = #{oldBrandName};
	</update>

	<update id="storeTagUpdateOk">
		update adminStoreTag set foodTag = #{foodTag} where brandName = #{brandName} and foodTag = #{oldTag};
		update adminFoodMenu set foodTag = #{foodTag} where foodTag  = #{oldTag} and brandName = #{brandName};
	</update>

	<update id="setfoodMenuUpdate">
		update adminFoodMenu set foodName = #{vo.foodName}, foodTag = #{vo.foodTag}, price = #{vo.price}, runOut = #{vo.runOut}, sale = #{vo.sale}, salePrice = #{vo.salePrice}, foodPhoto = #{vo.foodPhoto}, subMenu = #{vo.subMenu}, foodInfo = #{vo.foodInfo} where menuIdx = #{vo.menuIdx};
	</update>

	<update id="setUnLockMember">
		update member set userBan = 'NO' where mid = #{mid};
	</update>

	<update id="setAdminMemberDeleteCheck">
		update member set userDel = 'OK' where mid = #{mid};
	</update>

	<update id="setadminMemberRestore">
		update member set userDel = 'NO' where mid = #{mid};
	</update>

	<update id="setAdminRiderDelete">
		update rider set deleteRequest = 'OK' where riderMid = #{riderMid};
	</update>
	
	<update id="setAdminRiderRestore">
		update rider set deleteRequest = 'NO' where riderMid = #{riderMid};
	</update>
	
	<update id="setAdminStoreDelete">
		update store set storeDel = 'OK' where storeMid = #{storeMid};
	</update>
	
	<update id="setAdminStoreRestore">
		update store set storeDel = 'NO' where storeMid = #{storeMid};
	</update>
	
	
	
	<delete id="setCategoryDelete">
		delete from categoryStore where storePart = #{vo.storePart};
	</delete>

	<delete id="setadminBrandDelete">
		delete from adminStoreBrand where brandName = #{brandName};
	</delete>

	<delete id="setStoreTagDelete">
		delete from adminStoreTag where foodTag = #{foodTag} and brandName = #{brandName};
	</delete>

	<delete id="setAdminSubMenuDeletePost">
		delete from adminFoodSubMenu where foodName = #{foodName};
	</delete>

	<delete id="setAdminMenuDeletePost">
		delete from adminFoodMenu where foodName = #{foodName};
	</delete>

	<delete id="setMemberDelete">
		delete from member where mid = #{mid};
	</delete>

	<delete id="setAdminRiderDeleteOk">
		delete from rider where riderMid = #{riderMid};
	</delete>

	<delete id="setAdminStoreDeleteOk">
		delete from store where storeMid = #{storeMid};
	</delete>
	
</mapper>