<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.green2209S_18.dao.AdminDAO">
	
	<select id="getcategoryCodeCheck" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from categoryStore where categoryStoreCode = #{categoryStoreCode};
	</select>
	
	<select id="getcategoryCodeCheck2" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from categoryStore where storePart = #{storePart};
	</select>

	<select id="getCategoryList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store where storePart = #{vo.storePart};
	</select>

	<select id="getStoreBrandList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminStoreBrand;
	</select>

	<select id="getBrandNameCheck" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminStoreBrand where storePart = #{storePart} and brandName = #{brandName};
	</select>

	<select id="getstoreBrand" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminStoreBrand where brandName = #{brandName};
	</select>

	<select id="getstoreTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminStoreTag where brandName = #{brandName};
	</select>

	<select id="getFoodTagCheck" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminStoreTag where brandName = #{brandName} <if test="foodTag != ''"> and foodTag = #{foodTag} </if> ;
	</select>

	<select id="getCheckTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminFoodMenu where brandName = #{brandName} and foodTag = #{foodTag};
	</select>

	<select id="getFoodNameCheck" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminFoodMenu where brandName = #{brandName} and foodName = #{foodName};
	</select>

	<select id="getCheckAdminSubMenu" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from adminFoodSubMenu where foodName = #{foodName};
	</select>

	<select id="getChecksubTagList" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from adminFoodSubMenu where foodTag = #{foodTag} and brandName = #{brandName};
	</select>



	<insert id="setCategoryInput">
		insert into categoryStore values (#{vo.categoryStoreCode}, #{vo.storePart}, #{vo.categoryPhoto});
	</insert>

	<insert id="setStoreBrandInputOk">
		insert into adminStoreBrand values (default, #{vo.storePart}, #{vo.brandName});
	</insert>

	<insert id="storeTagInputOk">
		insert into adminStoreTag values (default, #{vo.brandName}, #{vo.foodTag});
	</insert>

	<insert id="setFoodInput">
		insert into adminFoodMenu values (default, #{vo.brandName}, #{vo.foodName}, #{vo.foodTag}, #{vo.price}, default, default, default, #{vo.foodPhoto}, #{vo.subMenu}, #{vo.foodInfo});
	</insert>

	
	
	<update id="setCategoryUpdate">
		update categoryStore set categoryStoreCode = #{vo.categoryStoreCode}, storePart = #{vo.storePart}, categoryPhoto = #{vo.categoryPhoto} where categoryStoreCode = #{pastCode};
	</update>

	<update id="StoreBrandUpdateOk">
		update adminStoreBrand set storePart = #{vo.storePart}, brandName = #{vo.brandName} where idx = #{vo.idx};
		update adminStoreTag set brandName = #{vo.brandName} where brandName = #{oldBrandName};
		update adminFoodMenu set brandName = #{vo.brandName} where brandName = #{oldBrandName};
	</update>

	<update id="storeTagUpdateOk">
		update adminStoreTag set foodTag = #{foodTag} where brandName = #{brandName} and foodTag = #{oldTag};
	</update>

	<update id="setfoodMenuUpdate">
		update adminFoodMenu set foodName = #{vo.foodName}, foodTag = #{vo.foodTag}, price = #{vo.price}, runOut = #{vo.runOut}, sale = #{vo.sale}, salePrice = #{vo.salePrice}, foodPhoto = #{vo.foodPhoto}, subMenu = #{vo.subMenu}, foodInfo = #{vo.foodInfo} where menuIdx = #{vo.menuIdx};
	</update>
	
	
	
	<delete id="setCategoryDelete">
		delete from categoryStore where storePart = #{vo.storePart};
	</delete>

	<delete id="setadminBrandDelete">
		delete from adminStoreBrand where brandName = #{brandName};
	</delete>

	<delete id="setStoreTagDelete">
		delete from adminStoreTag where foodTag = #{foodTag} and brandName = #{brandName};
	</delete>

	<delete id="setAdminSubMenuDeletePost">
		delete from adminFoodSubMenu where foodName = #{foodName};
	</delete>

	<delete id="setAdminMenuDeletePost">
		delete from adminFoodMenu where foodName = #{foodName};
	</delete>
	
</mapper>