<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.green2209S_18.dao.MemberDAO">

	<select id="getMemberIdCheck" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where mid = #{mid};
	</select>
	
	<select id="getMemberNickCheck" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where memberNickName = #{memberNickName};
	</select>
	
	<select id="getMyCartList" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from cart where mid = #{mid};
	</select>
	
	<select id="getMyOrderInfo" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where orderIdx = #{orderIdx};
	</select>
	
	<select id="getMyCouponList" resultType="com.spring.green2209S_18.vo.CouponVO">
		select * from coupon where mid = #{mid} order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="totCouponCnt" resultType="int">
		select count(*) from coupon where mid = #{mid};
	</select>
	
	<select id="totOderListCnt" resultType="int">
		select count(*) from foodorder where mid = #{mid};
	</select>
	
	<select id="getMidFind" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where memberName = #{memberName} and email = #{email};
	</select>
	
	<select id="getPwdFind" resultType="com.spring.green2209S_18.vo.MemberVO">
		select * from member where mid = #{mid} and email = #{email};
	</select>
	
	<select id="getQnAContent" resultType="com.spring.green2209S_18.vo.QnaVO">
		select * from qna where idx = #{idx};
	</select>
	
	<select id="getQnAComment" resultType="com.spring.green2209S_18.vo.QnaVO">
		select * from qna where qnaIdx = #{idx};
	</select>



	<insert id="setMemberJoinOk">
		insert into member values (default,#{vo.mid},#{vo.pwd},#{vo.memberName},#{vo.birthday},#{vo.tel},#{vo.address},#{vo.email},default,default,default,default,default,#{vo.memberLatitude},#{vo.memberLongitude},#{vo.memberNickName}, default);
	</insert>
	
	
	
	<update id="setOrderCntUpdate">
		update member set orderCnt = orderCnt + 1 where mid = #{mid};
	</update>
	
	
	<update id="setMemberOrderCancle">
		update foodorder set progress = '주문취소' where orderIdx = #{orderIdx};
	</update>
	
	<update id="setReportRating">
		update member set reportCnt = reportCnt+1 where mid = #{mid};
	</update>
	
	<update id="setMemberUpdate">
		update member set memberName = #{vo.memberName}, birthday = #{vo.birthday}, tel = #{vo.tel}, address = #{vo.address}, email = #{vo.email}, memberLatitude = #{vo.memberLatitude}, memberLongitude = #{vo.memberLongitude}, memberNickName = #{vo.memberNickName} where mid = #{vo.mid};
	</update>
	
	<update id="setMemberPwdUpdate">
		update member set pwd = #{pwd} where mid = #{mid};
	</update>
	
	<update id="setMemberDelete">
		update member set userDel = 'OK' where mid = #{mid};
	</update>
	

</mapper>