<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.green2209S_18.dao.OrderDAO">
	
	<select id="getCheckWishList" resultType="com.spring.green2209S_18.vo.wishListVO">
		select * from wishlist where storeName = #{storeName} and menuIdx = #{menuIdx} and mid = #{mid};
	</select>
	
	<select id="getMyWishList" resultType="com.spring.green2209S_18.vo.wishListVO">
		select * from wishlist where mid = #{mid};
	</select>
	
	<select id="getWishListInfo" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storefoodmenu where menuIdx = #{menuIdx};
	</select>
	
	<select id="getOrderMaxIdx" resultType="com.spring.green2209S_18.vo.CartVO">
		select max(idx) as maxIdx from foodorder;
	</select>
	
	<select id="getCartIdx" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from cart where idx = #{idx};
	</select>
	
	<select id="getCheckOrderIdx" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where orderIdx = #{orderIdx};
	</select>
	
	<select id="getMyOrderList" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where mid = #{mid};
	</select>
	
	<select id="getOrderChatList" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where rider = '미배정';
	</select>
	
	
	
	<update id="setFoodOrderOk2">
		update foodOrder set menuIdx =  concat(menuIdx,'/',#{vo.menuIdx}) , foodName =  concat(foodName,'/',#{vo.foodName}), mainPrice =  concat(mainPrice,'/',#{vo.mainPrice}),
		thumbImg =  concat(thumbImg,'/',#{vo.thumbImg}), subMenuName =  concat(subMenuName,'/',#{vo.subMenuName}), optionPrice =  concat(optionPrice,'/',#{vo.optionPrice}), 
		optionNum =  concat(optionNum,'/',#{vo.optionNum}) where orderIdx=#{vo.orderIdx};
		<!-- update foodOrder set foodName =  foodName + '/' + #{vo.foodName} where orderIdx=#{vo.orderIdx}; -->
		
	</update>
<!-- 	
	<update id="setFoodOrderOk2">
		update foodOrder set menuIdx = menuIdx + '/' + #{vo.menuIdx}, foodName =  foodName + '/' + #{vo.foodName}, mainPrice = mainPrice + '/' + #{vo.mainPrice}, thumbImg = thumbImg + '/' + #{vo.thumbImg},
		subMenuName = subMenuName + '/' + #{vo.subMenuName}, optionPrice = optionPrice + '/' + #{vo.optionPrice}, optionNum = optionNum + '/' + #{vo.optionNum} where orderIdx=#{vo.orderIdx};
		
	</update> -->
	<!-- str1.concat(str2) -->
	
	
	<insert id="setWishListInput">
		insert into wishlist values (default, #{mid},  #{menuIdx}, #{storeName});
	</insert>
	
	<insert id="setAddCartInput">
		insert into cart values (default, default, #{vo.mid}, #{vo.menuIdx}, #{vo.storeName}, #{vo.foodName}, #{vo.mainPrice}, #{vo.sale}, #{vo.salePrice}, #{vo.thumbImg}, #{vo.optionIdx},#{vo.subMenuName},#{vo.optionPrice},#{vo.optionNum},#{vo.totalPrice} );
	</insert>
	
	<insert id="setFoodOrderOK">
		insert into foodorder values (default, #{vo.mid}, default, #{vo.orderIdx}, #{vo.menuIdx}, #{vo.foodName},#{vo.storeName}, #{vo.mainPrice}, #{vo.thumbImg}, #{vo.orderAddress}, #{vo.subMenuName},#{vo.optionPrice},#{vo.optionNum},#{vo.orderMessage},#{vo.orderTotalPrice2}, default, default, default, default, default);
	</insert>
	
<!-- 	<insert id="setRiderOrder">
		insert into weborder values (default, #{vo.mid}, #{vo.foodMenu}, #{vo.address}, #{vo.price}, default, default, default, default, default, default);
	</insert> -->
	
	
	<delete id="setDeleteWishList">
		delete from wishlist where menuIdx = #{menuIdx};
	</delete>	
	
	<delete id="myCartDelete">
		delete from cart where idx = #{idx};
	</delete>	
	
</mapper>