<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.green2209S_18.dao.RiderDAO">

	<select id="getOrderChatList" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where rider = '미배정';
	</select>

	<select id="getRiderMidCheck" resultType="com.spring.green2209S_18.vo.RiderVO">
		select * from rider where riderMid = #{riderMid};
	</select>

	<select id="getRiderCheck" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where orderIdx = #{orderIdx} and progress = #{progress};
	</select>
	
	<select id="getRiderOrderList" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where rider = #{rider} <if test='progress !="" '>  and progress = #{progress}</if> order by idx desc;
	</select>
	
	<select id="getRiderOrderListPage" resultType="com.spring.green2209S_18.vo.CartVO">
		select * from foodorder where rider = #{rider} order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="totOderListCnt" resultType="int">
		select count(*) from foodorder where rider = #{rider};
	</select>
	
	<select id="getMidFind" resultType="com.spring.green2209S_18.vo.RiderVO">
		select * from rider where riderName = #{riderName} and riderEmail = #{riderEmail};
	</select>
	
	<select id="getPwdFind" resultType="com.spring.green2209S_18.vo.RiderVO">
		select * from rider where riderMid = #{riderMid} and riderEmail = #{riderEmail};
	</select>
	
	
	
	<insert id="setRiderJoinOk">
		insert into rider values (default, #{vo.riderMid}, #{vo.riderPwd}, #{vo.riderName}, #{vo.age}, #{vo.riderPhone}, #{vo.riderEmail}, default, default);	
	</insert>
	
	
	
	<update id="setUpdateRider">
		update foodorder set progress = #{progress}, rider=#{rider}, checkStr=#{checkStr}, assignDate=now() where orderIdx = #{orderIdx};
	</update>
	
	<update id="setRiderOrderConfirm">
		update foodorder set progress = '배달완료', completeDate = now() where orderIdx = #{orderIdx};
	</update>
	
	<update id="setRiderUpdate">
		update rider set riderName=#{vo.riderName}, age = #{vo.age}, riderPhone = #{vo.riderPhone}, riderEmail = #{vo.riderEmail} where riderMid = #{vo.riderMid};
	</update>
	
	<update id="setMemberPwdUpdate">
		update rider set riderPwd = #{riderPwd} where riderMid = #{riderMid};
	</update>
	
	<update id="setRiderDelete">
		update rider set deleteRequest = 'OK' where riderMid = #{riderMid};
	</update>

</mapper>