<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.green2209S_18.dao.StoreDAO">
	
	<select id="getStoreIdCheck" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store where storeMid = #{storeMid};
	</select>

	<select id="getStoreMenu" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store where idx = #{idx};
	</select>

	<select id="getStoreCategory" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from categoryStore order by categoryStoreCode;
	</select>

	<select id="getNearMapStoreList" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from store <if test='storePart !="" '> where storePart = #{storePart} </if>;
	</select>
	
	<select id="getStoreFood" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storeFoodMenu where foodName = #{foodName} and admintag = 'O';
	</select>

	<select id="getStoreList" resultType="com.spring.green2209S_18.vo.StoreVO">
		<!-- select s.*, round(AVG(r.rating),1) as rateAvg from store s, rating r where s.idx = r.storeIdx and s.storePart = #{storePart} 
		group by s.storeName <if test='ordered !="" '> order by ${ordered} desc</if>; -->
		
		select s.*, (select round(AVG(r.rating), 1) from rating r where s.idx = r.storeIdx) as rateAvg from store s where s.storePart = #{storePart} <if test='ordered !="" '> order by ${ordered} desc</if>;
		
	</select>

	<select id="getStoreFoodMenu" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storeFoodMenu where storeName = #{storeName};
	</select>

	<select id="getCheckTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storeFoodMenu where foodTag = #{foodTag} and storeName = #{storeName} and admintag = 'O';
	</select>

	<select id="getChecksubTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storeFoodSubMenu where foodTag = #{foodTag} and storeName = #{storeName} and admintag = 'O';
	</select>

	<select id="getAdminStoreBrand" resultType="com.spring.green2209S_18.vo.StoreVO">
		select * from adminstorebrand where storePart = #{storePart};
	</select>
	
	<select id="getstoreMenuList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminfoodmenu where brandName = #{brandName}; 
		<!-- select * from adminfoodmenu a, storeFoodMenu s  where a.brandName = #{brandName} group by a.foodName having s.storeName = #{storeName} and a.foodName != s.foodName; -->
	</select>
	
	<select id="getAdminStoreMenu" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminfoodmenu where menuIdx = #{menuIdx};
	</select>

	<select id="getAdminStoreTag" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from adminstoretag where brandName = #{brandName};
	</select>

	<select id="getAdminStoreSubMenu" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from adminfoodsubmenu where brandName = #{brandName};
	</select>

	<select id="getCheckStoreTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storetag where foodTag = #{foodTag} and storeName = #{storeName};
	</select>

	<select id="getstoreTagList" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storetag where storeName = #{storeName};
	</select>

	<select id="getStoreFoodMenuByTag" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storeFoodMenu where storeName = #{storeName} <if test="foodTag != ''"> and foodTag = #{foodTag} </if>;
	</select>

	<select id="storeFoodNameCheck" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storeFoodMenu where storeName = #{storeName} and foodName = #{foodName};
	</select>

	<select id="storefoodTagCheck" resultType="com.spring.green2209S_18.vo.FoodMenuVO">
		select * from storetag where storeName = #{storeName} and foodTag = #{foodTag};
	</select>

	<select id="getstoreSubMenuList" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from storefoodsubmenu where storeName = #{storeName} and foodTag = #{foodTag};
	</select>

	<select id="storeSubMenuNameCheck" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from storefoodsubmenu where storeName = #{storeName} and foodTag = #{foodTag} and subMenuName = #{subMenuName};
	</select>

	<select id="getSubMenuInfo" resultType="com.spring.green2209S_18.vo.SubFoodMenuVO">
		select * from storefoodsubmenu where subMenuIdx = #{subMenuIdx};
	</select>

	
	
	<insert id="setStoreJoinOk">
		insert into store values (default, #{vo.storeName}, #{vo.storePart}, #{vo.storeNumber}, #{vo.storeMid}, #{vo.storePwd}, #{vo.HostName}, #{vo.storeAddress}, #{vo.logoPhoto}, #{vo.storeEmail}, #{vo.storeLatitude}, #{vo.storeLongitude}, default, #{vo.storeTime});
	</insert>
	
	<insert id="setAdminStoreTag">
		insert into storetag values (default, #{storeName}, #{foodTag} , default);
	</insert>
	
	<insert id="setAdminStoreMenu">
		insert into storefoodmenu values (default, #{storeName}, #{vo.foodName}, #{vo.foodTag}, #{vo.price}, #{vo.runOut}, #{vo.sale}, #{vo.salePercent}, #{vo.salePrice}, #{vo.foodPhoto}, #{vo.subMenu}, #{vo.foodInfo}, default);
	</insert>
	
	<insert id="setAdminStoreSubMenu">
		insert into storefoodsubmenu values (#{storeName}, default, #{vo.foodTag}, #{vo.subMenuName}, #{vo.price}, #{vo.runOut});
	</insert>
	
	<insert id="setStoreMenuInput">
		insert into storefoodmenu values (default, #{vo.storeName}, #{vo.foodName}, #{vo.foodTag}, #{vo.price}, default, default, default, default, #{vo.foodPhoto}, #{vo.subMenu}, #{vo.foodInfo}, #{vo.admintag});
	</insert>
	
	<insert id="setStoreTagInput">
		insert into storetag values (default, #{vo.storeName}, #{vo.foodTag}, 'X');
	</insert>
	
	<insert id="setStoreSubMenuInput">
		insert into storefoodsubmenu values (#{vo.storeName}, default, #{vo.foodTag}, #{vo.subMenuName}, ${vo.price}, default);
	</insert>
	
	
	
	<update id="setStoreMenuUpdate">
		update storeFoodMenu set foodName = #{vo.foodName}, foodTag = #{vo.foodTag}, price = #{vo.price}, runOut = #{vo.runOut}, sale = #{vo.sale}, salePrice = #{vo.salePrice}, foodPhoto = #{vo.foodPhoto}, subMenu = #{vo.subMenu}, foodInfo = #{vo.foodInfo} where foodName = #{pastFoodName} and admintag = 'O';
	</update>
	
	<update id="setfoodMenuUpdate">
		update storefoodmenu set foodName = #{vo.foodName}, foodTag = #{vo.foodTag}, price = #{vo.price}, runOut = #{vo.runOut}, sale = #{vo.sale}, salePrice = #{vo.salePrice}, foodPhoto = #{vo.foodPhoto}, subMenu = #{vo.subMenu}, foodInfo = #{vo.foodInfo} where menuIdx = #{vo.menuIdx};
	</update>
	
	<update id="setStoreTagUpdate">
		update storetag set foodTag = #{vo.foodTag} where idx = #{vo.idx};
		update storefoodmenu set foodTag = #{vo.foodTag} where foodTag = #{oldTag} and storeName = #{storeName};
		update storefoodsubmenu set foodTag = #{vo.foodTag} where foodTag = #{oldTag} and storeName = #{storeName};
	</update>
	
	<update id="setSubMenuUpdateOk">
		update storefoodsubmenu set subMenuName = #{vo.subMenuName}, price = #{vo.price} where subMenuIdx = #{vo.subMenuIdx};
	</update>
	
	
	
	<delete id="setStoreSubMenuDeletePost">
		delete from storeFoodSubMenu where foodName = #{foodName};
	</delete>
	
	<delete id="setStoreMenuDeletePost">
		delete from storeFoodMenu where foodName = #{foodName} and admintag = 'O';
	</delete>
	
	<delete id="setStoreMenuDeleteOk">
		delete from storeFoodMenu where foodName = #{foodName};
	</delete>
	
	<delete id="storefoodTagDelete">
		delete from storetag where foodTag = #{foodTag};
	</delete>
	
	<delete id="setStoreSubMenuDelete">
		delete from storefoodsubmenu where subMenuIdx = #{subMenuIdx};
	</delete>
	
</mapper>